body{
    font-family: 'Open Sans', sans-serif;
    background-color: #efef;
    margin: 0;
}
.button{
    text-decoration: none;
    height: 40px;
    width: 80px;
    border-radius: 10px;
    border: none;
    color: whitesmoke;
    cursor: pointer;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    

}
.top-section{
    display: flex;
  
    
    
    
}
.half-container{
    background-image: url(images/shapes/Group\ 8447.png);
    /* background-position: right; */
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    /* padding-left: 5%; */
    /* margin: 5%; */
}
.half-width img{
    width: 80%;
}